.nav-link {
    font-weight: 600;
}

.nav-tabs .nav-link.active {
    background: #4CB9E7;
    color: white
}

.form-control {
    width: 300px;
}

.form-group label {
    font-size: 20px;
}

.result {
    background: #DF826C;
    color: white;
    height: 0;
    padding: 0 30px;
    line-height: 60px;
    margin: 0 auto;
    border-radius: 20px;
}

.avg-input .form-control {
    width: 100px;
}

.rectangle-input .form-control {
    width: 200px;
}